$white: #ffffff;
$blacktext: #5009f5;
$grey: #e4e4e4;
$muted-grey: #737373;
$stroke: #e7e7e7;
$subtext: #02c708;
$border: #b4b4b4;
$white: #1d1d1d;
$blacktext: #5009f5;
$grey: #000000;
$muted-grey: #cacaca;
$stroke: #e7e7e7;
$subtext: #02c708;
$border: #b4b4b4;